//Light
$text-light: #FFFFFF;
$text-light-gray: rgba(255, 255, 255, 0.64);
$background-light: #FDF0E9;
$border-light: #F3D1BF;

//Dark
$text-dark: #391400;
$text-dark-gray: rgba(57, 20, 0, 0.64);
$background-dark: #28293E;

//global
$text-accent: #EF6D58;