//Light
$text-light: #ffffff;
$text-light-gray: rgba(255, 255, 255, 0.64);
$background-light: #28293e;

//Dark
$text-dark: #391400;
$text-dark-gray: rgba(57, 20, 0, 0.64);
$background-dark: #28293e;

//global
$text-accent: #ef6d58;
