.BorderlessBtn {
  width: auto;
  padding: 18px 23.73px 16px 23.73px;
  line-height: 14px;
  height: 48px;
  font-size: 14px;
  font-weight: Bold;
  color: #fff;
  background-color: #ef6d58;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
