@import './src/scss/lib.scss';
.HeroStandard {
  &__wrapper {
    background-color: $background-dark;
    color: $text-light;
    height: 400px;
  }
  &__body {
    margin: auto;
  }
  &__body > h1 {
    font-size: 72px;
    text-align: center;
    margin: 30px 0 0;
  }
  &__subtitle {
    max-width: 570px;
    margin: auto;
  }
  &__subtitle > p {
    text-align: center;
    line-height: 32px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    color: $text-light-gray;
  }
  @media screen and (max-width: $bm-xl) {
    &__wrapper {
      width: 100%;
    }
    &__body {
      padding: 95px;
    }
    &__body > h1 {
      font-size: 56px;
    }
    &__subtitle > p {
      margin-top: 12px;
    }
    &__subtitle {
      width: 100%;
    }
  }
  // @media screen and (max-width: $bm-sm) {
  //   &__body > h1 {
  //     // margin: 0;
  //   }
  // }
}
