@import '../../scss/lib.scss';

.ClientCarousel {
    &__wrapper {
        @include wrapper;
        padding-bottom: 120px;

        @media only screen and (min-width: $bm-xl) {
            padding-bottom: 152px;
        }
    }

    &__container {
        @include container;
    }

    &__eyebrow {
        @include eyebrow;
        margin-bottom: 28px;
        text-align: center;

        @media only screen and (min-width: $bm-xl) {
            margin-bottom: 31px;
        }
    }
    
    &__title {
        @include title;
        margin-bottom: 38px;
        text-align: center;

        @media only screen and (min-width: $bm-xl) {
            margin-bottom: 67px;
        }
    }

    &__carousel {
        width: 100%;
    }
    
    &__reviews {
        overflow: hidden;
        margin-bottom: 48px;

        @media only screen and (min-width: $bm-lg) {
            z-index: 0;
            position: relative;
            overflow: visible;
        }

        @media only screen and (min-width: $bm-xl) {
            margin-bottom: 65px;
        }
    }

    &__slides {
        display: flex;
        list-style: none;
    }

    &__slide {
        flex: 0 0 100%;
        max-width: 770px;

        @media only screen and (min-width: $bm-lg) {
            opacity: 24%;
        }

        &.is-active {
            @media only screen and (min-width: $bm-lg) {
                opacity: 100%;
            }
        }
    }
    
    &__scroll {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: min-content;
        list-style: none;
    }
    
    &__dot {
        margin: 0 10px;
        border: 1px solid #4e4f6e;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        
        &.is-active {
            border: none;
            background-color: #ef6d58;
        }
    }
}