@import '../../scss/lib.scss';

.SiteFooter {
  background-color: $background-dark;
  color: $text-light;

  &__lightTheme {
    background-color: #fdf0e9;
    color: $text-dark !important;
    & * a {
      color: $text-dark;
    }
    & * p {
      color: $text-dark-gray;
    }
    .SiteFooter__line {
      background: #f3d1bf;
    }
  }

  &__container {
    @include container;
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  // &__lightTheme > &__link {
  //   color: $text-dark-gray !important;
  // }
  &__top {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 2rem;
  }

  &__bottom {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 2rem;
  }

  &__header {
    color: $text-accent;
    font-weight: 400;
  }

  &__list {
    padding: 0;
    margin-top: 16px;
  }

  &__item {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: $text-light;
    line-height: 2rem;
  }

  &__socials {
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: end;
  }

  &__button {
    margin: 0 0.25rem;
    width: 50px;
    cursor: pointer;
  }

  &__line {
    width: 100%;
    height: 1px;
    background: #3a3c56;
    margin-top: 68px;
  }

  &__copyright {
    color: $text-light-gray;
    margin: 0.5rem 0;
  }

  &__horizontal-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }

  @media screen and (max-width: 375px) {
    &__top {
      display: grid;
      grid-template-columns: 4fr;
      margin-bottom: 2rem;
      text-align: center;
    }

    &__bottom {
      display: grid;
      grid-template-columns: 4fr;
      margin-top: 2rem;
      text-align: center;
    }

    &__socials {
      margin-top: 1rem;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }

    &__list {
      margin-bottom: 2rem;
    }

    &__horizontal-list {
      margin-top: 1rem;
    }
  }
}
