@import '../settings/colours.scss';

@mixin eyebrow {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.1875em;
    text-transform: uppercase;
    color: $text-accent;
}