@import './src/scss/lib.scss';
.UserReview {
  display: flex;
  flex-flow: row wrap;
  margin-top: 40px;

  &__img {
    padding-top: 4px;
  }
  &__description {
    margin-left: 17px;
  }
  &__description > p {
    margin: 0;
    color: $text-light-gray;
    line-height: 2em;
    letter-spacing: 0.7px;
  }
  &__description > h5 {
    margin: 0 0 0 6px;
    letter-spacing: 1px;
    font-weight: normal;
  }
}
